:root {
  --color-primary: #917758;
  --color-secondary: #3c2915;
  --color-primary-light: #f5eee6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/*************
*   HOME
*************/

.home {
  position: relative;
  background-size: cover;
  background-image: url(../images/bg-home.jpg);
  height: 100vh; /* viewport height */
  background-attachment: fixed;
}

.home .header {
  padding: 30px 0;
}

.home .header .nav {
  display: flex;
  justify-content: center;
}

.home .header .nav ul {
  display: flex;
  list-style: none;
}

.home .header .nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.home .header .nav ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  padding: 20px;
}

.home .header .nav ul li a:hover {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.home .header .logo {
  margin: 0 30px;
}

@media screen and (max-width: 768px) {
  .home .header .nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .home .header .nav ul li {
    width: auto;
    margin-bottom: 10px;
  }
}

/*****************
*  HOME - BANNER
******************/
.home .banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 270px;
  width: 770px;
  max-width: 100%;
  margin: 0 auto;

  color: white;
  text-align: center;
}

.home .banner span {
  display: block;
}

.home .banner .slogan1 {
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: bold;
}

.home .banner h1 {
  font-size: 120px;
}

.home .banner .slogan2 {
  margin-bottom: 15px;
  font-weight: bold;
}

/***********
*  ABOUT
************/

.about {
  background-color: var(--color-primary);
  padding: 100px 0;
  text-align: center;
}

.about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.about .timing {
  flex-basis: calc(50% - 15px);
  max-width: 300px;
  margin-bottom: 50px;
  padding: 20px;
  background-image: url(../images/dog_about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  }

.about .timing .overlay {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 40px 20px;
}

.about .timing .icon-cut {
  width: 50px;
}

.about .timing h3 {
  color: var(--color-primary);
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-primary);
  width: fit-content;
  margin: 0 auto 30px auto;
  font-size: 30px;
}

.about .timing .text {
  margin: 10px 0;
}

.about .timing .text:after {
  content: "•";
  display: block;
  font-size: 25px;
  color: white;
  margin-top: 10px;
}

.about .timing .text:last-of-type:after {
  content: "|";
}

.about .timing .text h4 {
  color: grey;
  font-weight: 400;
  font-size: 15px;
}

.about .timing span {
  color: white;
  font-size: 15px;
  display: block;
}

.about .experience {
  flex-basis: calc(50% - 30px);
  max-width: 600px;
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

.about .experience h2 {
  font-weight: 400;
  font-size: 40px;
}

.about .experience h2:after {
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background-color: #a38f78;
  margin: 20px auto;
}

.about .experience .text {
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  .about .timing,
  .about .experience {
    flex-basis: 100%;
    max-width: 100%;
  }
}

/***********
* reports
************/

.reports {
  padding: 100px 0;
  text-align: center;
  background-color: var(--color-primary-light);
}

.reports h2 {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
}

.reports .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.reports .box {
  border: 3px solid var(--color-primary);
  padding: 50px 40px;
  margin: 30px;
  flex-basis: 300px; /* Largura base dos boxes */
}

.reports .box h4 {
  color: var(--color-secondary);
  margin-top: 30px;
}

.reports .box p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 25px;
}

@media screen and (max-width: 768px) {
  .reports .boxes {
    flex-direction: column;
    align-items: center;
  }

  .reports .box {
    margin: 15px;
  }
}

/**************
* APPOINTMENT
***************/
.appointment {
  padding: 100px 0;
  background-color: var(--color-primary);
  background-image: url(../images/dog_contact.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 300px;
}

.appointment {
  padding-left: 20px;
  padding-right: 20px;
}

.appointment h2 {
  color: var(--color-primary-light);
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.appointment img {
  margin: 0 auto;
  display: block;
}

.appointment form {
  margin-top: 80px;
}

.appointment .personal-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.appointment .input-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.appointment label {
  display: block;
  font-size: 14px;
  margin-bottom: 2px;
  color: var(--color-primary-light);
}

.appointment .personal-data input,
.appointment .personal-data select,
.appointment textarea {
  padding: 10px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 3px;
}

.appointment textarea {
  height: 100px;
}

.appointment button {
  background-color: var(--color-secondary);
  color: white;
  padding: 15px 40px;
  border: none;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .appointment {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.gallery {
  padding: 100px 0;
  background-color: var(--color-primary-light);
}

.gallery h2 {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.gallery .gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin: 50px auto;
}

.gallery .gallery-wrapper div {
  width: 33.33%;
  padding: 6px;
  box-sizing: border-box;
}

.gallery .gallery-wrapper div img {
  width: 100%;
  height: 200px;
  border: 2px solid var(--color-primary);
  object-fit: cover;
}

.img-gallery {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .gallery .gallery-wrapper div {
    width: calc(50% - 12px);
  }
}

@media screen and (max-width: 480px) {
  .gallery .gallery-wrapper div {
    width: calc(100% - 12px);
  }
}

.location {
  padding: 100px 0;
  background: url(../images/dog_bg.jpg);
  background-size: cover;
}

.location .head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #191919;
  padding: 40px;
}

.location .head .info {
  display: flex;
  align-items: center;
}

.location .head .info .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-primary);
  border-radius: 100%;
  padding: 10px;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.location .head .info .text span {
  display: block;
  font-size: 13px;
}

.location .head .info .text span:first-child {
  color: silver;
}

.location .head .info .text span:last-child {
  color: white;
}

.location .map {
  width: 100%;
}

.location .map iframe {
  width: 100%;
}

.footer {
  background-color: #191919;
  color: white;
  padding: 40px;
  text-align: center;
  font-size: 12px;
}

.experience .text{
  margin-bottom: 20px;
}